@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

$md: 1000px;
$sm: 700px;
$xs: 350px;

$backgroundColor: #eeeeee;

$defaultButton: #dedede;
$primaryButton: purple;
$dangerButton: #de3232;

$textForLight: #343434;
$textForDark: #ededed;

$recipeBoxSize: 200px;
$recipeBoxMargin: 5px;

$addButtonWidth: 100px;

$backgroundOpacity: 0.5;

$highlightColor: #3388cc;
$highlightBorder: darken($highlightColor, 12.5);

$notebookBackground: #ffff69;
$notebookLine:#d06464;

body {
  background: $backgroundColor;
  font-family: Roboto;
  margin: 0;

  @media screen and (max-width: $xs) {
    font-size: 14px;
  }
}

input {
  $inputColor: #f1f1f1;
  background: $inputColor;
  border-radius: 2px;
  border: 1px solid darken($inputColor, 40.5);
  box-shadow:inset 0 0px 2px #999999;
  padding: 5px;

  &:focus {
    outline: none;
    box-shadow: 0 0px 3px $primaryButton;
    background: white;
  }

  @media screen and (max-width: $xs) {
    width: 60%;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

@mixin shrink($h, $w) {
  @media screen and (max-width: $sm) {
    width: $h * 0.66;
    height: $w * 0.66;
  }

  @media screen and (max-width: $xs) {
    width: $h * 0.5;
    height: $w * 0.5;

    .collapsed-title {
      font-size: 12px;
      height: 14px;
      margin: 2px;
    }

    .recipe-picture {
      margin: 2px 2px 0 2px;
    }
  }
}

@mixin findWidth($screenSize, $itemWidth, $itemMargin, $itemNumber) {
  @media screen and (max-width: $screenSize) {
    width: $itemWidth * $itemNumber + $itemMargin * $itemNumber * 2 + $itemNumber * 2;
  }
}

@mixin btn($color, $text) {
  background: $color;
  border: 1px solid darken($color, 15.0);
  color: $text;

  &:hover {
    background: lighten($color, 5.0);
    box-shadow: 0 1px 1px #222222;
  }

  &:focus {
    // $buttonFocus: #00fe55;
    outline: none;
    background: darken($color, 5.0);
    // box-shadow: inset 0 0 3px #222222;
  }
}

.btn {
  padding: 10px;
  border-radius: 2px;
  margin: 5px;
  min-width: 75px;
}

.btn-default {
  @include btn($defaultButton, $textForLight);
}

.btn-primary {
  @include btn($primaryButton, $textForDark);
}

.btn-danger {
  @include btn($dangerButton, $textForDark);
}

.hidden {
  // visibility: hidden;
  & .popup {
    transform: translateY(-1000px);
    opacity: 0;
  }
  & .background {
    opacity: 0;
    height: 0;
    width: 0;
  }
  & .ingredients {
    height: 0px;
  }
}

.no-mobile {
  @media screen and (max-width: $sm) {
    visibility: hidden;
    position: absolute;
  }
}

.popup {
  background-color: white;
  height: auto;
  width: 400px;
  left: 0px;
  right: 0px;
  top: 0px;
  position: fixed;
  margin: 50px auto;
  z-index: 3;
  border: 1px solid darken($primaryButton, 1.2);
  border-radius: 3px;
  box-shadow: 0 2px 5px black;
  opacity: 1.0;
  transition: all 2s ease;

  @media screen and (max-width: $sm) {
    margin: 50px auto 5% auto;
    width: 80%;
  }

  @media screen and (max-height: $sm) {
    margin: 10px auto;
  }
}

.popup-body-container {
  position: relative;
  left: inherit;
  top: inherit;
  z-index: 8;
  background: white;
  margin: 5px auto 0 auto;
  padding: 20px;
  padding-top: 0px;
}

.input-table {
  width: 100%;

  & td {
    padding: 3px;
  }
}

.input-title {
  text-align: right;
}

.background {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: $backgroundOpacity;
  padding: auto 50px auto 50px;
  transition: opacity 1s, visibility 1s;
}

.recipelist-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto 0 auto;
  padding: 10px;
  max-width: $recipeBoxSize * 4 + $recipeBoxMargin * 4 * 2 + 4 * 2;
  background: $backgroundColor;

  @include findWidth($md, $recipeBoxSize, $recipeBoxMargin, 3);

  @include findWidth($sm, $recipeBoxSize * 0.66, $recipeBoxMargin, 2);

  @include findWidth($xs, $recipeBoxSize * 0.5, $recipeBoxMargin, 2);
}

.collapsed {
  height: $recipeBoxSize;
  width: $recipeBoxSize;
  background-color: #fefefe;
  border: 1px solid #444444;
  box-shadow: 0 1px 2px #454545;
  margin: $recipeBoxMargin;
  transition: all 0.25s ease;

  &:hover {
    $hoverColor: #aa30ff;
    box-shadow: 0 1px 2px $hoverColor;
    border-color: darken($hoverColor, 20%);
  }

  & .collapsed-title {
    // Mesh with font height
    height: 20px;
    // Creates a good vertical middle align
    margin: 5px auto;
    color: $textForLight;
    text-align: center;
    // Does nothing I can see...
    text-overflow: ellipsis;
    // Hides extra text
    overflow: hidden;
    font-weight: bold;
  }

  @include shrink($recipeBoxSize, $recipeBoxSize);
}

.recipe-picture {
  $pictureShrinkHeight: $recipeBoxSize - 60px;
  $pictureShrinkWidth: $recipeBoxSize - 12px;
  height: $pictureShrinkHeight;
  width: $pictureShrinkWidth;
  background-color: #cdcdcd;
  border: 1px solid #555555;
  box-shadow: 0 1px 2px #aaaaaa;
  margin: 5px;

  @include shrink($pictureShrinkWidth, $pictureShrinkHeight);

  // Fixes margin on smaller screens; 0 is to help text display
  @media screen and (max-width: $sm) {
    margin: 3px 3px 0 3px;
  }
}

.title {
  background: $primaryButton;
  color: #fefefe;
  padding: 5px;
  text-align: center;
  font-size: 22px;
  font-weight: normal;
  text-shadow: 0 1px 2px black;
  box-shadow: 0 1px 2px #333333;
  cursor: pointer;
}

.ingredient-list {
  height: auto;
}

// ingredients table
.ingredients {
  height: 100%;
  transition: height 1s ease 3s;
  background: $notebookBackground;
  margin: 10px auto 5px auto;
  width: auto;
  border-collapse: collapse;
  $borderColor: $notebookLine;
  box-shadow: 0 1px 2px;

  & th, td {
    font-family: cursive;
    border-bottom: 1px solid $borderColor;
    padding: 5px;
  }

  & tbody tr:hover {
    background: $highlightColor;
    color: white;
    border: 1px solid $highlightBorder;
    text-shadow: 0 0px 3px black;
    box-shadow: 0 2px 5px #cdcdcd;
  }

  & .quantity {
    //width: 10%;
    text-align: right;
  }
  & .measurement {
    //width: 10%;
    text-align: left;
  }
  & .ingredient-name {
    // width: 75%;
    text-align: left;
  }
}

.inline {
  display: inline-block;

  & p {
    display: inherit;
  }

  & ul {
    display: inherit;
  }
}

.page {
  margin: 5px auto;
  width: 80%;
  transition: transform 2s ease, opacity 1s ease;
}

.no-visible {
  opacity: 0.0;
  position: absolute;
  top: 0px;
}

.move-left {
  transform: translateX(-1500px);
}

.move-right {
  transform: translateX(1500px);
}

.arrow-container {
  
}

.arrow {
  position: absolute;
  top: 48%;
  height: 32px;
  width: 32px;
  border: 1px solid darken($primaryButton, 5.0);
  background: $primaryButton;
  border-radius: 100%;
  box-shadow: 0 1px 2px black;
  color: white;

  &:hover {
    background: #aa0088;
  }

  &:disabled {
    background: #888888;
    border-color: #444444;
  }

  &.left-arrow {
    left: 10px;
  }

  &.right-arrow {
    right: 10px;
  }
}

.ingredients-alter-buttons {
  // Width that helps to center buttons
  width: 170px;
  margin: 0 auto 0 auto;
}

.navbar {
  background: $primaryButton;
  color: white;
  height: 48px;
  box-shadow: 0 1px 2px #656565;
  padding: 3px;
}

.navbar-fixed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.nav-container {
  width: 100%;
  height: 100%;
}

.nav-title {
  display: inline-block;
  padding-left: 20px;
  padding-top: 6px;
  margin: 0;
  font-family: 'Pacifico', cursive;
  font-size: 20px;

  p {
    display: inherit;
    margin: inherit;
  }
}

.nav-buttons {
  float: right;
  display: inline-block;
  padding-right: 10px;
  cursor: pointer;
}

.nav-button {
  display: inline-block;
  width: 75px;
  height: 36px;
  text-align: center;
  padding-top: 14px;
  transition: all 0.5s ease;

  &:hover {
    text-shadow: 0 1px 2px #333333;
    background: lighten($primaryButton, 3.0);
  }
}

#addButtonContainer {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  width: $addButtonWidth;
  padding: 5px 0 10px 0;
  margin: 0 auto 0 auto;
}

#addButton {
  margin: 0;
  box-shadow: 0 1px 3px black;
  padding: 1px auto 1px auto;
  width: $addButtonWidth;
}
